{% block content %}
{% load static %}

<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript">
		function div_clear(item, index)
		{
			//console.log(item);
			for(i = 1; i < 9; i++)
			{
				id = "#"+item+i
				//console.log(id);
				$(id).empty();
			}
		}

		function print_state(state)
		{
			arr = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'];
			arr.forEach(div_clear);
			$("#out0").empty();
			$("#out1").empty();
			mat = state.split("/");
			for(i = 0; i < 8; i++)
			{
				for(j = 0; j < 8; j++)
				{
					if(mat[i][j] == '.')
						continue;
					id = '#' + arr[j] + (8-i);
					img_id = (8-i) + arr[j];
					
					address = '{% static "webchess/" %}' + mat[i][j] + '.png';
					
					$(id).append("<img ondragstart='drag(event);' draggable='true' width='55' height='55' class='"+mat[i][j]+"' src='"+address+"' id='"+img_id+"' />");
				}
			}
			for(i = 0; i < mat[8].length; i++)
			{
				address = '{% static "webchess/" %}' + mat[8][i] + '.png';
				$("#out0").append("<img width='55' height='55' src='"+address+"' />");
			}

			for(i = 0; i < mat[9].length; i++)
			{
				address = '{% static "webchess/" %}' + mat[9][i] + '.png';
				$("#out1").append("<img width='55' height='55' src='"+address+"' />");
			}
			


		}

		function get_st(move)
		{
			$("#game").html("thinking...");
			$.post("{% url 'api' %}", {move : move}, function(data, status){
				error = data.split("-")[0];
				print_state(data.split("-")[1]);
				$("#game").html(error);
			});

		}

		function drag(ob)
		{
		    ob.dataTransfer.setData("Text",ob.target.id);
		}

		function drop(ob)
		{
		    var id = ob.dataTransfer.getData("Text");
		    var t = ob.target;
		    if (ob.target.nodeName == "IMG" && ob.target.id != id)
		        t = ob.target.parentNode;
		    t.innerHTML = "";
		    var img = document.getElementById(id);
		    t.appendChild(img);
		    console.log(img);
		    move = id +" "+ t.id;
		    //$('#move').append(move);
		    get_st(move);
		    
		    ob.preventDefault();    
		}

		function allowDrop(ob)
		{
		    ob.preventDefault();
		}
	</script>
</head>


<body onload='print_state("{{ state }}");'>
	<center>
	Game Status:<div id="game"></div>
	<table id="board" border="1">
	{% for i in "87654321"%}
	<tr>
		{% if i == "8" %}
			<td rowspan="8" width="150" id="out0"></td>
		{% endif %}
		{% for j in "ABCDEFGH" %}
		<td >
			<div id="{{ j }}{{ i }}" class="square" ondrop="drop(event);" ondragover="allowDrop(event)">
            </div>
		</td>
		{% endfor %}
		{% if i == "8" %}
			<td rowspan="8" width="150" id="out1"></td>
		{% endif %}
	</tr>
	{% endfor %}
</table>

</center>
</body>
{% endblock %}