{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
	div 
	{
		width:60px;
		height:60px;

	}
	table tr:nth-child(2n) td:nth-child(2n+1) 
	{
  
		background-color: gray;
	}
	table tr:nth-child(2n+1) td:nth-child(2n) 
	{
    	background-color: gray;
	}
	table td
	{
		text-align: center;
	}
	</style>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript">
		
		function div_clear(item, index)
		{
			//console.log(item);
			for(i = 1; i < 9; i++)
			{
				id = "#"+item+i
				//console.log(id);
				$(id).empty();
			}
		}

		function print_state(state)
	    {
	    	arr = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'];
	    	arr.forEach(div_clear);
	    	mat = state.split("/");
	    	for(i = 0; i < 8; i++)
	    	{
	    		for(j = 0; j < 8; j++)
	    		{
	    			if(mat[i][j] == '.')
	    				continue;
	    			id = '#' + arr[j] + (8-i);
	    			img_id = (8-i) + arr[j];
	    			
	    			address = '{% static "webchess/" %}' + mat[i][j] + '.png';
	    			
	    			$(id).append("<img ondragstart='drag(event);' draggable='true' width='55' height='55' class='"+mat[i][j]+"' src='"+address+"' id='"+img_id+"' />");
	    		}
	    	}
	    
	    }

	    function get_st(move)
	    {
	    	$.post("api/", {move : move}, function(data, status){
	    		error = data.split("-")[0];
	    		print_state(data.split("-")[1]);
	    		$("#game").html(error);
	    	});

	    }

		function drag(ob)
		{
		    ob.dataTransfer.setData("Text",ob.target.id);
		}

		function drop(ob)
		{
		    var id = ob.dataTransfer.getData("Text");
		    var t = ob.target;
		    if (ob.target.nodeName == "IMG" && ob.target.id != id)
		        t = ob.target.parentNode;
		    t.innerHTML = "";
		    var img = document.getElementById(id);
		    t.appendChild(img);
		    console.log(img);
		    move = id +" "+ t.id;
		    //$('#move').append(move);
		    get_st(move);
		    
		    ob.preventDefault();    
		}

		function allowDrop(ob)
		{
		    ob.preventDefault();
		}


		


	</script>
</head>


<body onload='print_state("{{ state }}");'>
	<table id="loc" border="1">
	{% for i in "87654321"%}
	<tr>
		{% for j in "ABCDEFGH" %}
		<td >
			<div id="{{ j }}{{ i }}" ondrop="drop(event);" ondragover="allowDrop(event)">
            	fuck
            </div>
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>

</body>
<div id="game"></div>
</html>
{% endblock %}